<nav>
    <ul>

    {{#if out}}<li></li><a href="/login">Log In</a></li>{{/if}}
    {{#if signup}}<li></li><a href="/register">Sign Up</a></li>{{/if}}

    {{#if in}}
        {{#if name}}
        <span class="flamingo">Good to see you <span class="cap">{{first}}</span></span>
         {{/if }}

            <li><a href="/edit">Edit Profile</a></li>
            <li><a href="/thanks">Thanks</a></li>

        {{#if sig}}
            <li><a href="/signers">Signers</a></li>
        {{/if }}

            <li><a href="/logout">Logout</a></li>

    {{/if}}

    </ul>
</nav>
