<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition {{title}}</title>
     <link rel="stylesheet" href="/style.css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    
    {{!-- <section id="body-main" class="welcome-img"> --}}
              {{!-- <img class="bg-img" src="/images/monatge.jpg" alt="monatge-elephant-image"> --}}


    {{{body}}}

    {{!-- </section> --}}

    <footer>
        <div class="foot-note">Petition 2021 ©</div>
    </footer>
</body>
</html>