<section id="body-main" class="montage-img">

    <header>{{>menu in=true sig=true name=true}}</header>

   <h2>Edit My Profile</h2>

   {{>form edit=true}}

    <p class="error-msg">{{errorMessage}}</p>

</section>
   