   <section class="form-page">


      <h2>Liat's users want to Log in</h2>

      {{>form login=true}}

      <div class="link-con">
        <a href="/register">Don't have an account yet? Click here to register</a>
    </div>

      <p>{{errorMessage}}</p>

   </section>
   
