   <section class="form-page">

      <h2>Liat's users want to Log in</h2>

      {{!-- <div class="form"> --}}
         <p class="error-msg">{{errorMessage}}</p>

         {{>form login=true}}

         <p class="error-msg">{{errorMessage}}</p>

      {{!-- </div> --}}

      <div class="link-con">
        <a href="/register">Don't have an account yet? Click here to register</a>
     </div>

      

   </section>
   
