      
   <section class="welcome-img" id="body-main">

            <header>{{>menu login="true"}}</header>


      <div class='headline'>
                <p>Elephants belong in the Savanna
                <br>Not Above Your Head
                </p>
        </div>
        <h1>Force Stomping Neighbors to Live on the Ground Floor</h1>

      <h2>Please Log in</h2>

         <p class="error-msg">{{errorMessage}}</p>

         {{>form login=true}}

      <div class="link-con">
        <a href="/register">Don't have an account yet? Click here to register</a>
     </div>

   </section>
   
