
<section class="main-page petition-img">

        <div class="petition-con">


        <div class='headline-sec'>
                <p>Elephants belong in the Savanna
                <br>or on Ground Level
                </p>
        </div>
        <h1>Force Stomping Neighbors to Live on the Ground Floor</h1>

                <form class="sig-page" method='POST'>
                        <h2>Sign Here to Create Change</h2>
                        <input id="sig-id" type="hidden" name="signature">
                        
                        <canvas id="canvas" width="400" height="120"></canvas>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button class="glow" type="submit"> submit </button>
                </form>

                <p>{{errorMessage}}</p>

                <script src="/sig-canvas.js"></script>

        </div>

</section>