
<section class="main-page">

        <div class="form-con">

        <h1>Please sign our petition</h1>
                <form class="form" method='POST'>
                        <h2>Please sign here</h2>
                        <input id="sig-id" type="hidden" name="signature">
                        
                        <canvas id="canvas" width="600" height="100"></canvas>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button id="btn" type="submit"> submit </button>
                </form>

                <p>{{errorMessage}}</p>

                <script src="/sig-canvas.js"></script>

        </div>

</section>