
<section class="main-page bg-img">

        <div class="petition-con">

        {{!-- <h1>Stop making stupid people famous</h1> --}}

        <div class='headline'>
                <p>Stop Making
                <br>Stupid People <br>Famous
                </p>
        </div>

                <form class="sig-page" method='POST'>
                        <h2>Sign Here to Create Change</h2>
                        <input id="sig-id" type="hidden" name="signature">
                        
                        <canvas id="canvas" width="400" height="100"></canvas>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button class="glow" type="submit"> submit </button>
                </form>

                <p>{{errorMessage}}</p>

                <script src="/sig-canvas.js"></script>

        </div>

</section>