<section id="body-main" class="montage-img">

    <header>{{>menu in="true"}}</header>

   <h2>Do you want to tell us a bit more about yourself?</h2>

   {{>form profile=true}}

    <p>{{errorMessage}}</p>

</section>