<section id="body-main" class="montage-img">

    <header>{{>menu in=true sig=true name=true}}</header>

    <div class="center-con">

    <h2>Do you want to tell us a bit more about yourself?</h2>

        {{>form profile=true}}

    </div>


    <p class="error-msg">{{errorMessage}}</p>

</section>