<section id="body-main" class="welcome-img">

   <header>{{>menu logout="true"}}</header>

   <div class='headline'>
                <p>Elephants belong in the Savanna
                <br>Not Above Your Head
                </p>
        </div>
        <h1>Force Stomping Neighbors to Live on the Ground Floor</h1>

   <h2>Please Register Page</h2>

   {{!-- <div class="form"> --}}
      <p class="error-msg">{{errorMessage}}</p>

      {{>form signup=true login=true}}
      
   {{!-- </div> --}}

   <div class="link-con">
        <a href="/login">Already have an account? Click here to log in</a>
    </div>

</section>
   

