<section class="form-page">

   <h2>This is my registration page</h2>

   {{>form signup=true}}

   <div class="link-con">
        <a href="/login">Already have an account? Click here to log in</a>
    </div>

      <p>{{errorMessage}}</p>

</section>
   
   

