
<section class="form-page">
   <h1>This is the SIGNERS page</h1>

    <div class="signers-box">
    {{#rows}}
        <p class="signer-elem">{{first}} {{last}}</p>
    {{/rows}}
    </div>

</section>
   
   

