
<section class="form-page">

    <h1>Thank you for signing</h1>

    <h2></h2>

    <img src="{{sigImg}}" alt="signature-image">

    <p><a href="/signers">See all {{count}} signers</a></p>

</section>