
<section class="form-page">

    <h1>Thank you for signing</h1>

    <h2></h2>

    <img class="canvas-img" src="{{sigImg}}" alt="signature-image">

    <p><a href="/signers">See all {{count}} signers</a></p>

    <button type="submit" class="delete-btn">Delete</button>

</section>