
<section class="form-page">

    <h1>Thank you for signing</h1>

    <h2></h2>

    <img class="canvas-img" src="{{sigImg}}" alt="signature-image">

    <p><a href="/signers">See all {{count}} signers</a></p>

    <a href="/edit"><button type="button" class="delete-btn">Edit Profile</button></a>

    <form class="form" method='POST'>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="delete-btn">Delete</button>

    </form>

</section>