<header>{{>menu}}</header>

<section class="form-page">

    <img src="" alt="">

    <h1>Thank You {{first}} for Signing</h1>

    <h2>Unite for a Better City Life Quality</h2>

    <img class="canvas-img" src="{{sigImg}}" alt="signature-image">

    <p class="link"><a href="/signers">See all {{count}} signers</a></p>

    <a href="/edit"><button type="button" id="btn">Edit Profile</button></a>

    <form class="form" method='POST'>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="delete-btn">Delete Signature</button>

    </form>

</section>