<h1>This is the THANKS page</h1>

<h2>Thank you for signing</h2>

{{!-- when i have a dataurl of the sig img then store in src --}}
<img src="{{signature}}" alt="signature-image">

<p><a href="/signers">See all {{count}} signers</a></p>