body {
    background-color: pink;
}

#canvas {
    background-color: white;
    border-radius: 22px;
    margin: 20px;
}

#sig-canvas {
    border: 2px dotted #cccccc;
    border-radius: 22px;
    cursor: crosshair;
}
